<a href="https://www.kaggle.com/code/tusharaggarwal27/decision-tree-practice?scriptVersionId=112550476" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

**Decision_Tree**

Tasks:
1. Please run a logistic regression model for social adv data
2. Build a DT model for diabetes data
3. Build a DT model for social adv data by including "Gender" as an input variable (x var) along with the other two x vars

In [1]:
# Data manipulation imports
import numpy as np
import pandas as pd

# Visualization imports
import matplotlib.pyplot as plt
import plotly.express as px

# Modeling imports
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, ConfusionMatrixDisplay

**Business Case:- 3) Build a DT model for social adv data by including "Gender" as an input variable (x var) along with the other two x vars.**

In [2]:
#Loading the required data

social_data = pd.read_csv('/kaggle/input/social-network/Social_Network_Ads.csv')

In [3]:
#Checking the loaded data
social_data.head()
#pd.set_option('display.max_columns', None)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

**Basics Checks**

In [4]:
#Checking for all columns names
social_data.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [5]:
#Checking for shape of dataset
social_data.shape, print(social_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB
None

((400, 5), None)

In [6]:
#Cheking statistics
social_data.describe(include="all")

             User ID  Gender         Age  EstimatedSalary   Purchased
count   4.000000e+02     400  400.000000       400.000000  400.000000
unique           NaN       2         NaN              NaN         NaN
top              NaN  Female         NaN              NaN         NaN
freq             NaN     204         NaN              NaN         NaN
mean    1.569154e+07     NaN   37.655000     69742.500000    0.357500
std     7.165832e+04     NaN   10.482877     34096.960282    0.479864
min     1.556669e+07     NaN   18.000000     15000.000000    0.000000
25%     1.562676e+07     NaN   29.750000     43000.000000    0.000000
50%     1.569434e+07     NaN   37.000000     70000.000000    0.000000
75%     1.575036e+07     NaN   46.000000     88000.000000    1.000000
max     1.581524e+07     NaN   60.000000    150000.000000    1.000000

In [7]:
#convert categorical data('Gender') to binary data('0 & 1')
social_data_1 = pd.get_dummies(social_data["Gender"])
social_data_1

     Female  Male
0         0     1
1         0     1
2         1     0
3         1     0
4         0     1
..      ...   ...
395       1     0
396       0     1
397       1     0
398       0     1
399       1     0

[400 rows x 2 columns]

In [8]:
#Using pd.get_dummies
social_data_converted = pd.concat((social_data, social_data_1), axis=1)
social_data_converted = social_data_converted.drop(['Gender'], axis=1)
social_data_converted = social_data_converted.drop(['Female'], axis=1)

social_data_converted

      User ID  Age  EstimatedSalary  Purchased  Male
0    15624510   19            19000          0     1
1    15810944   35            20000          0     1
2    15668575   26            43000          0     0
3    15603246   27            57000          0     0
4    15804002   19            76000          0     1
..        ...  ...              ...        ...   ...
395  15691863   46            41000          1     0
396  15706071   51            23000          1     1
397  15654296   50            20000          1     0
398  15755018   36            33000          0     1
399  15594041   49            36000          1     0

[400 rows x 5 columns]

In [9]:
#Seprating for features and target variable
X = social_data_converted[['Age','EstimatedSalary','Male']].values
y = social_data_converted[['Purchased']].values